@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 0 auto;
  text-align: center;
  font-family: "Klee One", serif;
  color: #ffffffde;
  background-image: url("../src/assets/arcane-river-road-of-vanishing.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-color: #1e282e80;
  background-blend-mode: overlay;
}

a {
  font-weight: 500;
  color: #fff;
  text-decoration: inherit;
}
a:hover {
  color: #b1e1e9;
  font-weight: bold;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}